@font-face {
    font-family: Lora;
    font-weight: 900;
    font-style: normal;
    src: local("Lora"),
         url(../../pages/font/Lora-Bold.ttf) format("ttf");
    font-display: swap;
}

@font-face {
    font-family: Lora;
    font-weight: 400;
    font-style: normal;
    src: local("Lora"),
            url(../../pages/font/Lora-Regular.ttf) format("ttf");
    font-display: swap;
}

@font-face {
    font-family: Lora;
    font-weight: 700;
    font-style: normal;
    src: local("Lora"),
            url(../../pages/font/Lora-Medium.ttf) format("ttf");
    font-display: swap;
}

.Popup {
    font-family: Lora;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8A9B6E;
    padding: 20px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.Popup input {
    margin-bottom: 20px;
    background-color: #F8F9FB;
    border: none;
    height: 50px;
    border-radius: 30px;
    display: block;
    padding-left: 20px;
}

.Popup button {
    color: #F8F9FB;
    font-weight: 700px;
    background-color: #B99274;
    border: none;
    height: 50px;
    border-radius: 30px;
    display: block;
    margin-top: 10px;
    transition: 0.3s;
}

.Popup button:hover{
    background-color: #b6825b;
    transition: 0.3s;
}