@font-face {
    font-family: Lora;
    font-weight: 900;
    font-style: normal;
    src: local("Lora"),
         url(../font/Lora-Bold.ttf) format("ttf");
    font-display: swap;
}

@font-face {
    font-family: Lora;
    font-weight: 400;
    font-style: normal;
    src: local("Lora"),
            url(../font/Lora-Regular.ttf) format("ttf");
    font-display: swap;
}

@font-face {
    font-family: Lora;
    font-weight: 700;
    font-style: normal;
    src: local("Lora"),
            url(../font/Lora-Medium.ttf) format("ttf");
    font-display: swap;
}

.Entrance {
    text-align: center;
  }
  
  .Entrance-header__input {
    background-color: #D9D9D9;
    box-shadow: 20px 10px 0px rgba(26, 26, 26, 0.5);
    margin-bottom: 75px;
    height: 75px;
    width: 650px;
    border-radius: 30px; 
    font-size: 18px;
    font-family: Lora;
    padding-left: 15px;
    border: none;
  }
  
.Entrance-header__input::placeholder {
    color: rgba(167, 114, 67, 1);
    font-size: 18px;
    font-family: Lora;
}
  
.Entrance-header {
    font-family: Lora;
    background-color: #354733;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Entrance-title{
    font-weight: 900;
    color: #F3F3FB;
    font-size: 120px;
    text-shadow: 20px 10px 0px rgba(26, 26, 26, 0.5); 
  }

.Entrance-header__form{
    display: flex;
    flex-direction: column;
}

.Entrance-header__button{
    font-family: Lora;
    color: #D9D9D9;
    background-color: #B99274;
    box-shadow: 20px 10px 0px rgba(26, 26, 26, 0.5);
    height: 75px;
    width: 650px;
    border-radius: 30px;
    border: none;
    font-size: 42px;
    transition: 0.3s;
}

.Entrance-header__button:hover{
    background-color: #b6825b;
    transition: 0.3s;
}