ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 100%; /* Сделаем высоту элемента равной высоте родительского блока (в данном случае, header) */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
  }
  
  li {
    margin: 0 10px; 
    align-self: center;
    justify-self: center;
  }
  
 
  .header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c4c4c4;
    color: #111;
    padding: 20px;
  }
  
  /* Проверка, что изображения находятся в нужном месте */
  ul img {
    width: 40px;
    height: 40px;
  }