ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
    align-self: center;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c4c4c4;
    color: #111;
    padding: 20px;
}

ul img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

ul img:hover {
    transform: scale(1.15);
}
