@font-face {
    font-family: Lora;
    font-weight: 900;
    font-style: normal;
    src: local("Lora"),
         url(../font/Lora-Bold.ttf) format("ttf");
    font-display: swap;
}

@font-face {
    font-family: Lora;
    font-weight: 400;
    font-style: normal;
    src: local("Lora"),
            url(../font/Lora-Regular.ttf) format("ttf");
    font-display: swap;
}

@font-face {
    font-family: Lora;
    font-weight: 700;
    font-style: normal;
    src: local("Lora"),
            url(../font/Lora-Medium.ttf) format("ttf");
    font-display: swap;
}

.Favorites {
    text-align: center;
  }
  
.Favorites-header__input {
    background-color: #D9D9D9;
    box-shadow: 20px 10px 0px rgba(26, 26, 26, 0.5);
    margin-bottom: 75px;
    height: 75px;
    width: 650px;
    border-radius: 30px; 
    font-size: 18px;
    font-family: Lora;
    padding-left: 15px;
    border: none;
}
  
.Favorites-current-user{
    font-weight: 900;
    color: #B99274;
    font-size: 42px;
    padding: 15px;
}

.Favorites-header {
    font-family: Lora;
    font-weight: 900;
    background-color: #354733;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }

.Favorites-search-box{
    margin-bottom: 30px;
}

.Favorites-favorite-ad{
    width: 473px;
    height: 307px;
    background-color: #F4F4F4;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}


.Favorites-user-block{
    background-color: #d1d1d1;
    border-radius: 15px;
    margin-bottom: 80px;
}

  .Favorites-title{
    font-weight: 900;
    color: #F3F3FB;
    font-size: 120px;
    text-shadow: 20px 10px 0px rgba(26, 26, 26, 0.5); 
  }

.Favorites-title__h3{
    font-weight: 900;
    color: #F3F3FB;
    font-size: 42px;
    text-shadow: 20px 10px 0px rgba(26, 26, 26, 0.5);
}

.Favorites-p{
    font-family: Lora;
    font-weight: 900;
    font-size: 42px;
    color: #F3F3FB;
}

.Favorites-user-list{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: #D9D9D9;
}

.Favorites-input{
    margin-bottom: 15px;
    height: 75px;
    width: 650px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 30px;
    padding-left: 40px;
    font-size: 22px;
}