@font-face {
    font-family: Lora;
    font-weight: 900;
    font-style: normal;
    src: local("Lora"),
         url(../../pages/font/Lora-Bold.ttf) format("ttf");
    font-display: swap;
}

@font-face {
    font-family: Lora;
    font-weight: 400;
    font-style: normal;
    src: local("Lora"),
            url(../../pages/font/Lora-Regular.ttf) format("ttf");
    font-display: swap;
}

@font-face {
    font-family: Lora;
    font-weight: 700;
    font-style: normal;
    src: local("Lora"),
            url(../../pages/font/Lora-Medium.ttf) format("ttf");
    font-display: swap;
}

.Ad {
    width: 473px;
    height: 307px;
    background-color: #D9D9D9;
    padding-left: 30px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 20px 10px 0px rgba(26, 26, 26, 0.5);
}
.Ad-botton__delete{
    color: #D9D9D9;
    background-color: rgb(156, 56, 56);
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 100px;
}
.Ad-title {
    font-family: Lora;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 30px;
}

.Ad-user {
    font-family: Lora;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.Ad-price {
    font-family: Lora;
    font-size: 42px;
    font-weight: 900; 
}
