@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: local('Lora Regular'), local('Lora-Regular'),
        url('../../pages/font/Lora-Regular.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: local('Lora Medium'), local('Lora-Medium'),
        url('../../pages/font/Lora-Medium.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 900;
    src: local('Lora Bold'), local('Lora-Bold'),
        url('../../pages/font/Lora-Bold.ttf') format('ttf');
    font-display: swap;
}

.Ad {
    width: 473px;
    height: 307px;
    background-color: #F4F4F4;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.Ad-button__delete, .Ad-button__favorite {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.Ad-button__delete {
    background-color: #DA5454;
    border: 1px solid #DA5454;
    color: #FFFFFF;
}

.Ad-button__favorite {
    background-color: #8A9B6E;
    border: 1px solid #8A9B6E;
    color: #FFFFFF;
}

.Ad-button__favorite:hover{
    background-color: #525f3c;
}

.Ad-button__delete:hover {
    background-color: #b33434;
    border: 1px solid #E64B4B;
}

.Ad-title {
    font-family: 'Lora', serif;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 15px;
    overflow: hidden;
}

.Ad-user {
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.Ad-price {
    font-family: 'Lora', serif;
    font-size: 42px;
    font-weight: 900;
    color: #333333;
    margin-bottom: 20px;
}
